<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

	<ul class="uk-slideshow-items">

		<li *ngFor="let item of categories">
			<img src="https://getuikit.com/docs/images/photo.jpg" alt="" uk-cover>
			<div class="uk-position-center uk-position-small uk-text-center">
				<h2 uk-slideshow-parallax="x: 100,-100">{{ item.title }}</h2>
				<div uk-slideshow-parallax="x: 200,-200">
					<button class="uk-button uk-button-default uk-button-large">JOGAR</button>
				</div>
			</div>
		</li>
		
	</ul>

	<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
		uk-slideshow-item="previous"></a>
	<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
		uk-slideshow-item="next"></a>

</div>