<div class="uk-position-relative uk-visible-toggle uk-light uk-animation-fade" tabindex="-1" uk-slideshow="autoplay-interval: 3000; animation: push">

	<ul class="uk-slideshow-items">

		<li *ngFor="let item of categories">
			<img src="../../../assets/images/categories/{{ item.id }}.png" alt="" uk-cover>
			<div class="uk-position-center uk-position-small uk-text-center">
				<div uk-slideshow-parallax="x: 100,-100">
					<div class="uk-tile uk-tile-secondary">
            <p class="uk-h4">{{ item.title }}</p>
        	</div>
				</div>
				<div uk-slideshow-parallax="x: 200,-200">
					<button (click)="goUrl('/play', item.id)" class="uk-button uk-button-secondary uk-button-large">
						JOGAR
					</button>
				</div>
			</div>
		</li>
		
	</ul>

	<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
		uk-slideshow-item="previous"></a>
	<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
		uk-slideshow-item="next"></a>

</div>