<div class="uk-position-center">
	
	<h4>Settings <span class="icon" uk-icon="icon: settings"></span></h4>

	<form [formGroup]="settingsForm" (change)="onChangeForm()">
		<fieldset class="uk-fieldset">

			<div class="uk-margin">
				<label for="tempo">Palavras por tempo:</label>
				<select formControlName="playwithtime" class="uk-select">
					<option value="true">Sim</option>
					<option value="false">Não</option>
				</select>
			</div>

			<div class="uk-margin">
				Tempo: <span class="uk-badge">{{ secounds }} segundo(s)</span>
				<input formControlName="time" class="uk-range" type="range" value="{{ settings.time }}" min="1000" max="10000" step="0.1">
			</div>

		</fieldset>
	</form>

</div>