<div class="uk-container uk-padding">
	<div class="uk-child-width-1-2@s" uk-grid>

		<div>
			<div class="uk-card uk-card-default uk-card-large uk-card-body">
				<div class="uk-card-badge uk-label">1.0</div>
				<h3 class="uk-card-title">Quem sou eu?</h3>
				<p>
					Este é um jogo de adivinha para brincar com seus amigos. Você pode usar seu smartphone na horizontal e clicar
					entre uma metade e outra da tela, quando você posiciona em sua testa ou à sua frente. Clicando do lado direito
					(com a tela para frente) você marca um acerto, do contrátrio no lado esquerdo um erro, não contabilizando
					pontos.
				</p>
			</div>
		</div>

		<div>
			<div class="uk-card uk-card-default uk-card-large uk-card-body">
				<div class="uk-card-badge uk-label">1.0</div>
				<h3 class="uk-card-title">Modos de jogo</h3>
				<p>Há três modos de jogos disponíveis:</p>
				<ul>
					<li>por tempo de partida</li>
					<li>tempo por palavras </li>
					<li>por quantidade de palavras</li>
				</ul>
				<p> <i>PS: Use seu celular assim </i> <span uk-icon="phone-landscape"></span></p>
			</div>
		</div>

	</div>
	<div class="uk-padding">
		<ul uk-accordion>
			<li>
				<a class="uk-accordion-title" href="#"><span uk-icon="icon: clock"></span> Tempo por partida</a>
				<div class="uk-accordion-content">
					<p>Neste modo você configura quanto tempo durará cada partida. Durante a partida até que o tempo termine terá
						palavras para você adivinhar.
					</p>
				</div>
			</li>
			<li>
				<a class="uk-accordion-title" href="#"><span uk-icon="icon: comment"></span> Tempo por palavra</a>
				<div class="uk-accordion-content">
					<p>
						Por tempo de palavra você configura por quanto tempo uma palavra aparece antes da próxima aparecer, sendo
						assim você tem aquele tempo para adivinhar.
					</p>
				</div>
			</li>
			<li>
				<a class="uk-accordion-title" href="#"><span uk-icon="icon: bookmark"></span> Quantidade de palavras</a>
				<div class="uk-accordion-content">
					<p>
						Aqui neste modo você decide a quantidade de palavras que deseja adivinhar sem tempo para a partida terminar.
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>